.navigation {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
    margin: 20px 0px;
}

.button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

.logout{
    cursor: pointer;
}

.activebutton{
    background-color: black;
    color: white;
}