form {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

input {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
}

button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button.disabled{
    opacity: 50%;
}